
.Wrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: end;
}

.name {

    font-size: 30px;
    width: 60%;
    background: chartreuse;
    color: azure;
    text-align: center;
}

.h5 {
    display: flex;


}