.todoListHeader {

}

.todoListTitle {
    border: 1px solid forestgreen;
    display: flex;
    position: relative;
    align-items: center;
    height: 30px;
    width: 100%;
    opacity: 1;
}
.todoListHeaderTitle {
    display: flex;
    justify-content: center;
}

.button_delete {
    position: absolute;
    top: 5px;
    right: 5px;
}



