.wrap {
    display: flex;
    flex-wrap: nowrap;
    background-color: teal;
    width: 850px;
}

.todoList {
    width: 600px;
    margin: 0 auto;
}

.todoList > div {
    padding: 10px;
}


.todoList-task.done {
    opacity: 0.5;
}


.filter-active {
    background-color: blue;
}

.error {
    border-color: red;
}
