.wrapNavBar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;

}

.wrapNavBar a {
    text-decoration: none;
}

.item a {
    color: dodgerblue;

}

.item a.active {
    color: #ff7c55

}

.menu {
    width: 20%;

}