.wrap__inputRadio {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}


.DARK_THEME {
    background-color: black;
color: #af06ff;
}

.LIGHT_THEME {
    background-color: white;
    color: #2f3aff
}

.GREEN_THEME {
    background-color: greenyellow;
    color: #ff6f1e;
}

.infoServer__wrap {
    width: 100%;
    height: 100%;
    display: flex;
}

.infoServer__discr {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.infoServer__text {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px outset #ff6f60;
    font-family: Geneva;
    font-style: oblique;
    font-size: 4vh;
   color: #89ffe9;

}
.infoServer__panel {
    width: 30%;

}

.wrap__inputRadio {
    width: 100%;
    align-items: center;

}











